details.popover{

  display: inline-block;
  position: relative;

  summary{
    outline: 0;
    cursor: pointer;
  }

  summary::-webkit-details-marker{
    display: none;
  }

  &[open]{
    > summary:before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      cursor: default;
    }
  }

  .popover-content{
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 50;
  }

  &.popover-left-start{
    .popover-content{
      top: 0;
      right: 100%;
    }
  }

  &.popover-left{
    .popover-content{
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.popover-left-end{
    .popover-content{
      right: 100%;
      bottom: 0;
    }
  }

  &.popover-right-start{
    .popover-content{
      top: 0;
      left: 100%;
    }
  }

  &.popover-right{
    .popover-content{
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.popover-right-end{
    .popover-content{
      left: 100%;
      bottom: 0;
    }
  }

  &.popover-top-start{
    .popover-content{
      bottom: 100%;
      right: 0;
    }
  }

  &.popover-top{
    .popover-content{
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.popover-top-end{
    .popover-content{
      bottom: 100%;
    }
  }


  &.popover-bottom-start{
    .popover-content{
      top: 100%;
      right: 0;
    }
  }

  &.popover-bottom{
    .popover-content{
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.popover-bottom-end{
    .popover-content{
      top: 100%;
    }
  }

}
